body {
  text-align: center;
}

.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}

.flash{
  background-color: white;
}

.userFlash{
  background-color: green;
}